= render 'shared/header'
.user-info
  .user-info__header
    .user-info__header__image
      = image_tag 'prof.jpg'
    = render 'shared/user-info'
.contents
  = render partial: "shared/article", collection: @articles
