.user-info__header__profile
  .user-info__header__profile__avatar
    = user_avatar(@user)
  .user-info__header__profile__name
    = user_nickname(@user)
  .user-info__header__profile__introduction
    = user_profile(@user)
