.note-wrapper {
  background-color: #fff;
  width: 100%;
}
.note {
  max-width: 620px;
  width: 94%;
  margin: 20px auto 0;
  &__image {
    margin-bottom: 40px;
    img {
      width: 100%;
      max-width: inherit;
      height: 100%;
      max-height: 256px;
    }
  }
  &__user {
    margin-bottom: 30px;
    position: relative;
    &__avatar img{
      width: 30px;
      height: 30px;
      border-radius: 30px;
      float: left;
      margin-right: 10px;
    }
    &__name {
      font-size: 12px;
      @include link_to_detail();
    }
    &__time-and-delete {
      color: #a1a6a9;
      font-size: 10px;
      display: flex;
      a {
        margin-left: 5px;
        color: #a1a6a9 !important;
        &:hover {
          color: #bdc3c7 !important;
        }
      }
    }
    &__edit {
      height: 34px;
      width: 50px;
      background: transparent;
      font-size: 12px;
      border: 1px solid #3BC49D;
      border-radius: 4px;
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      a {
        color: #3DAD88 !important;
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 8px 12px;
      }
    }
  }
  &__article {
    border-bottom: 1px solid #E8ECEB;
    padding-bottom: 30px;
    &__title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 35px;
    }
    &__body {
      font-size: 17px;
      line-height: 30px !important;
    }
  }
  &__author {
    .user-info__profile {
      padding: 0 !important;
    }
  }
}

